---
http_interactions:
- request:
    method: get
    uri: https://api.myjson.com/bins/fakeid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"hello":"world","version":1,"active":true,"tags":["foo","bar"]}'
  recorded_at: Mon, 02 Jan 2017 09:08:27 GMT
recorded_with: VCR 3.0.3
