---
http_interactions:
- request:
    method: put
    uri: https://api.myjson.com/bins/fakeid
    body:
      encoding: UTF-8
      string: '{"hello":"world","version":2,"active":false,"tags":["foo","bar"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Wed, 04 Jan 2017 16:38:23 GMT
recorded_with: VCR 3.0.3
