---
http_interactions:
- request:
    method: post
    uri: https://api.myjson.com/bins
    body:
      encoding: UTF-8
      string: '{"hello":"world","version":1,"active":true,"tags":["foo","bar"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"0bd6b032404496b03537d6ca3ebf924b"'
    body:
      encoding: UTF-8
      string: '{"uri":"https://api.myjson.com/bins/fakeid"}'
  recorded_at: Mon, 02 Jan 2017 08:59:16 GMT
recorded_with: VCR 3.0.3
