---
http_interactions:
- request:
    method: put
    uri: https://api.myjson.com/bins/fakeid
    body:
      encoding: UTF-8
      string: '{"hello":"world","version":2,"active":false,"tags":["foo","bar"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"80bf20c69e6d54a0a06b4649a8d885f3"'
    body:
      encoding: UTF-8
      string: '{"hello":"world","version":2,"active":false,"tags":["foo","bar"]}'
  recorded_at: Mon, 02 Jan 2017 09:30:35 GMT
recorded_with: VCR 3.0.3
